USE [master]
GO
/****** Object:  Database [Ag04]    Script Date: 15.3.2021. 15:36:57 ******/
CREATE DATABASE [Ag04]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ag04', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019EX\MSSQL\DATA\Ag04.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ag04_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019EX\MSSQL\DATA\Ag04_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ag04].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ag04]
GO
/****** Object:  Table [dbo].[tblHeist]    Script Date: 15.3.2021. 15:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHeist](
	[HeistID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[StartTime] [datetime] NULL,
	[EndDate] [date] NULL,
	[EndTime] [datetime] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_tblHeist] PRIMARY KEY CLUSTERED 
(
	[HeistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHeistMembers]    Script Date: 15.3.2021. 15:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHeistMembers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HeistID] [int] NULL,
	[MemberID] [int] NULL,
	[Status] [nvarchar](30) NULL,
	[ActiveInHeist] [bit] NULL,
 CONSTRAINT [PK_tblHeistMembers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHeistSkills]    Script Date: 15.3.2021. 15:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHeistSkills](
	[SkillsID] [int] IDENTITY(1,1) NOT NULL,
	[HeistID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SkillLevel] [nvarchar](10) NULL,
	[MembersNo] [smallint] NULL,
 CONSTRAINT [PK_tblHeistSkills] PRIMARY KEY CLUSTERED 
(
	[SkillsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMember]    Script Date: 15.3.2021. 15:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMember](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Sex] [nchar](1) NULL,
	[Status] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[ActiveInHeist] [bit] NULL,
 CONSTRAINT [PK_tblHeistMember] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMemberSkills]    Script Date: 15.3.2021. 15:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMemberSkills](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SkillLevel] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_tblMemberSkills] PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblHeist] ON 

INSERT [dbo].[tblHeist] ([HeistID], [Name], [Location], [StartDate], [StartTime], [EndDate], [EndTime], [Active]) VALUES (1, N'testtt', N'berlinnnnn', CAST(N'2021-03-08' AS Date), CAST(N'2021-03-09T18:39:00.000' AS DateTime), CAST(N'2021-03-08' AS Date), CAST(N'2021-03-09T18:39:00.000' AS DateTime), 0)
INSERT [dbo].[tblHeist] ([HeistID], [Name], [Location], [StartDate], [StartTime], [EndDate], [EndTime], [Active]) VALUES (2, N'test 2222', N'oslo', CAST(N'2021-03-08' AS Date), CAST(N'2021-03-09T18:42:00.000' AS DateTime), CAST(N'2021-03-08' AS Date), CAST(N'2021-03-09T18:42:00.000' AS DateTime), 0)
INSERT [dbo].[tblHeist] ([HeistID], [Name], [Location], [StartDate], [StartTime], [EndDate], [EndTime], [Active]) VALUES (3, N'test 33', N'london', CAST(N'2021-03-08' AS Date), CAST(N'2021-03-09T18:45:00.000' AS DateTime), CAST(N'2021-03-08' AS Date), CAST(N'2021-03-09T18:45:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tblHeist] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHeistMembers] ON 

INSERT [dbo].[tblHeistMembers] ([ID], [HeistID], [MemberID], [Status], [ActiveInHeist]) VALUES (19, 1, 4, N'EXPIRED', 1)
INSERT [dbo].[tblHeistMembers] ([ID], [HeistID], [MemberID], [Status], [ActiveInHeist]) VALUES (20, 1, 2007, N'SURVIVED', 1)
INSERT [dbo].[tblHeistMembers] ([ID], [HeistID], [MemberID], [Status], [ActiveInHeist]) VALUES (26, 1, 1006, N'EXPIRED', 1)
SET IDENTITY_INSERT [dbo].[tblHeistMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHeistSkills] ON 

INSERT [dbo].[tblHeistSkills] ([SkillsID], [HeistID], [Name], [SkillLevel], [MembersNo]) VALUES (5, 1, N'STAMINA', N'****', 1)
INSERT [dbo].[tblHeistSkills] ([SkillsID], [HeistID], [Name], [SkillLevel], [MembersNo]) VALUES (8, 1, N'STRENGTH', N'***', 1)
INSERT [dbo].[tblHeistSkills] ([SkillsID], [HeistID], [Name], [SkillLevel], [MembersNo]) VALUES (15, 2, N'COMBAT', N'******', 2)
SET IDENTITY_INSERT [dbo].[tblHeistSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMember] ON 

INSERT [dbo].[tblMember] ([MemberID], [Name], [Email], [Sex], [Status], [Active], [ActiveInHeist]) VALUES (4, N'berlin', N'berlin@ag04.com', N'M', N'AVAILABLE', 1, 1)
INSERT [dbo].[tblMember] ([MemberID], [Name], [Email], [Sex], [Status], [Active], [ActiveInHeist]) VALUES (1006, N'tokio', N'tokio@ag04.com', N'M', N'RETIRED', 1, 1)
INSERT [dbo].[tblMember] ([MemberID], [Name], [Email], [Sex], [Status], [Active], [ActiveInHeist]) VALUES (2006, N'oslo', N'oslo@ag04.com', N'M', N'AVAILABLE', 1, 1)
SET IDENTITY_INSERT [dbo].[tblMember] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMemberSkills] ON 

INSERT [dbo].[tblMemberSkills] ([SkillID], [MemberID], [Name], [SkillLevel]) VALUES (2, 4, N'DRIVING', N'**********')
INSERT [dbo].[tblMemberSkills] ([SkillID], [MemberID], [Name], [SkillLevel]) VALUES (3, 4, N'LOCK PICKING', N'*****')
INSERT [dbo].[tblMemberSkills] ([SkillID], [MemberID], [Name], [SkillLevel]) VALUES (17, 4, N'COMBAT', N'*******')
SET IDENTITY_INSERT [dbo].[tblMemberSkills] OFF
GO
ALTER TABLE [dbo].[tblHeistMembers]  WITH CHECK ADD  CONSTRAINT [FK_tblHeistMembers_tblHeist] FOREIGN KEY([HeistID])
REFERENCES [dbo].[tblHeist] ([HeistID])
GO
ALTER TABLE [dbo].[tblHeistMembers] CHECK CONSTRAINT [FK_tblHeistMembers_tblHeist]
GO
ALTER TABLE [dbo].[tblHeistMembers]  WITH CHECK ADD  CONSTRAINT [FK_tblHeistMembers_tblMember] FOREIGN KEY([MemberID])
REFERENCES [dbo].[tblMember] ([MemberID])
GO
ALTER TABLE [dbo].[tblHeistMembers] CHECK CONSTRAINT [FK_tblHeistMembers_tblMember]
GO
ALTER TABLE [dbo].[tblHeistSkills]  WITH CHECK ADD  CONSTRAINT [FK_tblHeistSkills_tblHeist] FOREIGN KEY([HeistID])
REFERENCES [dbo].[tblHeist] ([HeistID])
GO
ALTER TABLE [dbo].[tblHeistSkills] CHECK CONSTRAINT [FK_tblHeistSkills_tblHeist]
GO
ALTER TABLE [dbo].[tblMemberSkills]  WITH CHECK ADD  CONSTRAINT [FK_tblMemberSkills_tblMember] FOREIGN KEY([MemberID])
REFERENCES [dbo].[tblMember] ([MemberID])
GO
ALTER TABLE [dbo].[tblMemberSkills] CHECK CONSTRAINT [FK_tblMemberSkills_tblMember]
GO
USE [master]
GO
