
@{
    ViewBag.Title = "Start";
    Layout = null;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h1>Welcome to heist plan start page!</h1>
    <hr />
    @Html.ActionLink("Continue", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })
</div>


